body {
    margin: 0;
    padding: 0;
}
  
div.img {
    background-image: url('/images/marcus50');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 100vw;
    height: 100vh;
}

.centered {
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#nameinput {
  font-size: 32px;
}

::placeholder {
    text-align: center; 
}