
body {
  margin:0;     /* This is used to reset any browser-default margins */
  height:100vh; /* This is needed to overcome a Chrome bug. */
  width:100vw;  /* As above. */
}

#nameinput_area {
  margin: auto;
  display: block;
  /*background-color: rgb(98, 165, 126);*/
  font-size: 32px;
  text-align: center;
}

#nameinput {
  font-size: 32px;
}

.button {
  background-color: #8ec7b2;
  border-radius: 8px;
  margin: auto;
  display: block;
  font-size: 30px;
  margin-top: 2px;
} 

#reset_button {
  position:absolute;
  top:0;
  right:0;
  font-size: 20px;
}

#textarea { 
  height: 20vh;
  border:1px solid black; 
} 

#map { 
  height: 75vh; 
}

/* admin styles */

#map_admin { 
  height: 50vh; 
}

#message {
  text-align: center;
  font-size: 30px;
}

.blue {
  color: blue;
}

.players_table {
  height: 80vh;
  width: 100%;
  /*margin-left: auto;
  margin-right: auto;
*/
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 1.9em;
  font-family: sans-serif;
  /*min-width: 400px;*/
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.players_table thead tr {
  background-color: #009879;
    color: #ffffff;
    text-align: left;
}

.players_table th,
.players_table td {
    padding: 12px 15px;
}

.player_change {
  background-color: lightblue;
  animation: buildingAnim 2s infinite;
}

.marcus50 {
  color: red;
}

@keyframes buildingAnim {
  0% {background-color: lightblue;}
  50% {background-color: rgb(183, 183, 38);}
  100% {background-color: lightblue;}
}